@media screen and (min-width: 960px) {

    header {
    flex-flow: row;
    justify-content: space-around;
    height: 120px;
    margin-top: 2em;
    align-items: center;
    background-color: aliceblue;
    color: #03045e;
    }

    .headerRight {
    font-size: 2.2em;
    }

    .pageTitle {
        font-size: 3em;
    }

    nav button {
        display: none; 
    }

    .active {
        background-color: aliceblue;
        border-radius: 4em 4em 0 0;
    }

    .navigation {
        list-style: none;
        margin: 0; 
        font-size:  1.2rem;
        background-color: aliceblue;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-end;
        border-bottom: 3px solid red;
        -webkit-box-shadow: 0 6px 6px 0 #03045e;
        -moz-box-shadow: 0 6px 6px 0 #03045e;
        box-shadow: 0 6px 6px 0 #03045e;
    }

    #primaryNav {
        padding-right: 5em;
    }

    .navigation a {
        text-decoration: none;
        display: block;
        padding: 0.8em 1em;
        color: #03045e;
    }

    .navigation a:hover {
        color: white;
        background-color: #03045e;
        text-decoration: overline;
        text-decoration-color: white;
    }

    .active {
        text-decoration: overline;
        border-radius: 4em 4em 0 0;
    }

    .active a:hover {
        color: white;
        text-decoration: none;
    }

    /* footer*/
    footer {
        max-width:75%;
        margin: 0 auto;
    }

    .footerBzInfo{
        align-content: center;
        align-items: center;
        padding: 0.2em;
    }

    #prefootMid {    
        justify-content: space-evenly;
        align-self: center;
        padding: 25px;
    }

    .iconLinks {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
    }

    #midfootMid a {   
        flex-flow: row;
        justify-content: space-around;
        padding: 25px;
    }

    #prefootMid div {
        align-self: center;
    }

    #map iframe {
        width: 400px;
        height: 300px;
    }

    /**************Home Page***************/
    #mainWelcome {
        flex-flow: row;
        margin-top: 5em;    
    }

    #homeContent {
        width: 75%;
    }

    .homeMain {
        justify-content: space-around;
    }

    /* Hero Img*/
    .heroContainer {
        position: relative;
    }

    .heroContainer img {
        width: 100%;
        margin: 0;
        z-index: 0;
    }

    .heroContainer a {
        position: absolute;
        width: 25%;
        bottom: -1em;
        left: -1em;
        padding: 1em 2em;
        font-size: 1.5em;
        border-radius: 0.5em;
    }

    /* Temple Info */
    #mainWelcome > div:nth-child(1) {
        padding: 0 2em;
    }

    .templeInfoContainer {
        max-width: 50%;
        margin: 5em auto 1em auto;
        background-color: #03045e;
        color: white;
        padding: 2em;
        border-radius: 0.2em;
        justify-content: space-around;
    }

    .indTempImg {
        padding-top: 2em;
        align-self: flex-start;
    }

    .indTempImg img{
        width: 100%;
        border-radius: 0.2em;
    }

    .templeTextContainer{
        margin-left: 2em;
    }
    .mainTempleInfo h3{
        margin-bottom: -0.6em;        
    }

    /* Amenities Section */
    .amenitiesHome {
        margin: 5em;
        background-color: #03045e;
        padding: 2em;
        border-radius: 0.2em;
        color: white;
    }

    .amenitiesHome li {
        padding: 0.38em 0;
        list-style: none; 
    }

    .amenitiesHome li:before {
        content: "\2022";
        color: #03045e;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    /* Form Title */
    #reservationTitle {
        align-self: center;
        margin-right: 0.5em;
        text-align: center;
    }

    /* Form Container */
    .containerReservation {
        display: flex;
        max-width: 75%; 
        flex-flow: row;
        margin: 5em 5em 5em 15em;
    }
    .reservationForm {
        margin: 2em;
    }
    .reservationFormWrapper {
        margin: 2em;
    }
    /* Form Content */
    #reservationInputTop {
        flex-flow: column;
        justify-content: space-evenly;
    }
    #upperUpper, #lowerUpper {
        margin: 2em;
        flex-flow: row;
        justify-content: space-around;
    }
    #upperUpper > div, #lowerUpper > div {
        justify-content: space-evenly;
        margin-right: -1.5em;
    }

    .reservationForm .messageReservation {
        flex-flow: column;
        align-self: flex-start;
        width: 300px;
    }

    .reservationForm .messageReservation textarea{
        height: 200px;
        width: 100%;
        margin: 10px 0;
        background: transparent;
        border: 0;
        border: 3px solid #03045e;
        padding: 10px;
        color: red;
    }

    /************** Contact Page***************/
    .containerContact{
        flex-direction: column;
    }

    .formField{
        flex-flow: row;
        justify-content: center;
    }

    .contact-form{
        width: 400px;
        padding: 30px;
    }

    .input-field{
        flex-direction: column;
        width: 100%;
    }

    .bznssInfo{
        flex-flow: row wrap;
        align-self: flex-start;
    }


    /*************Resources Page***************/
    #resourcesContainer {
        max-width: 75%;
    }
}