html{
    background-color: #5c8301;
}
body {
    max-width: 100%;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
.pageTitle{
    background-color: #5c8301;
    color: aliceblue;
}
h1, h2, h3 {
    font-family: 'loto', sans-serif;
}

h1 {
    font-size: 2.625em;
}

h2 {
    font-size: 2em;
}
    
h3 {
    font-size: 1.5em;
}
    
p, li {
    font-size: 1.125em;
}
    
ul {
    list-style-type: none;
}
    
a {
    text-decoration: none;
}

.onHover:hover {
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}


/* Header */
header {
    display: flex;
    width: 100%;
    margin: 0;
}
    
#siteLogo {
    width: 15em;
    margin-top: 3em;
}


.headerRight a:hover {
    color: #03045e;;
    text-decoration: overline underline;
    text-decoration-color: #03045e;
}

.stickIt {
    position: sticky;
    top: 0;
    z-index: 5;
}

    /* Navigation */
nav {
    margin-top: -0.5em;
    z-index: 15;
}
    
nav button {
    position: absolute;
    border: none;
    font-weight: bold;
}

nav button:focus {
    outline: 0;
}

nav button:hover {
    background-color: #03045e;
}

.bookNowBtn {
    background-color: #03045e;
    color: aliceblue;
    text-align: center;
}

.bookNowBtn:hover {
    background-color: #5c8301;
    color: aliceblue;
}
    /* Page Title */
.pageTitle {
    text-align: center;
    padding-top: 0.2em;
    margin-top: 1em;
    font-style: italic;
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}

    /* footer section */
#prefootMid img:hover {
    box-shadow: 2px 4px 8px 2px #03045e;
}

.footerBzInfo{
    display: flex;
}

#preFooter {
    margin-top: 5em;
    background-color: #03045e;;
    }

    #preFooter h4 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
    }
    #prefootMid { 
        display: flex;
        color: white;
    }
    #prefootMid a{
        color: white;
        text-decoration: none;
    }
    #prefootMid a:hover {
        color: #527500;
        text-decoration: overline underline;
        text-decoration-color: #03045e;;
    }
    #midfootMid {
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;
        
    }
    #midfootMid a {   
        display: flex;
        color: white;
    }
    .iconLinks {
        width: 100%;
    }
    #prefootMid img {
        padding: 2%
    }
    .footerBzInfo {
        color: white;
    }
    .bottomFooter {
        width: 100%;
        text-align: center;
        margin: 0;
        color: aliceblue;
        background-color: #5c8301;
        -webkit-box-shadow: 0 -6px 6px 0 #03045e;
        -moz-box-shadow: 0 -6px 6px 0 #03045e;
        box-shadow: 0 -6px 6px 0 #03045e;
    }
    .bottomFooter a {
        color: aliceblue;
    }
    .bottomFooter a:hover {
        color: red;
    }

    /* Hero img and book now btn */
    #mainWelcome {
        display: flex;
    }
    #mainWelcome img {
        border-radius: 0.2em;
        -webkit-box-shadow: 2px 8px 16px 2px #03045e;
        -moz-box-shadow: 2px 8px 16px 2px #03045e;
        box-shadow: 2px 8px 16px 2px #03045e;
    }
    #mainWelcome h1 {
        font-size: 2.0em;
    }
 
 
    #welcomeSubTitle {
        font-size: 1.5em;
    }
    #homeContent {
        margin: 0 auto;
    }
    .homeMain {
        display: flex;
    }
 
    /* Temple Info Section */
    .templeInfoContainer {
        background-color: #d1d5d8;
        padding: 2em;
        border-radius: 0.2em;
        display: flex;
    }
    .indTempImg {
        padding-top: 2em;
        align-self: flex-start;
    }
    .indTempImg img{
        max-width: 100%;
        border-radius: 0.2em;
    }
    .templeTextContainer{
        margin-left: 2em;
    }
    .mainTempleInfoHome h3{
        margin-bottom: -0.5em;
    }
    
    /* Amenities Section */
    .amenitiesHome {
        background-color: #03045e;;
        padding: 2em;
        border-radius: 0.2em;
        color: white;
    }
    .amenitiesHome li {
        padding: 0.38em 0;
        list-style: none; 
    }


    /**************Temple Page***************/
    .templeTitleBox {
        width: 400px;
        margin: 3em 2em 0 0;
        padding: 15px;
        background-color: aliceblue;
        color: #03045e;;
        border-radius: 2%;
    }
    .weatherSumBox {
        max-width: 400px;
        margin: 3em 2em 0 0;
        padding: 15px;
        background-color: aliceblue;
        color: #03045e;
        border-radius: 2%;
    }
    .weatherSumBox .value {
        color: #5c8301;
    }
    
    .weatherInfoLine .label, .weatherInfoLine .value {
        display: inline-block;
        margin: 2px;
    }
    .wImageDiv {
        max-width: 100px;
        margin: 0 auto;
    }
    
.templeInfoContainerBox {
    max-width: 300px;
    margin: 1em;
    padding-top: 0.5em;
    padding: 1em;
    background-color: aliceblue;
    color: #03045e;;
    border-radius: 2%;
}
.clickSlideToggle:hover {
    color: aliceblue;
    background-color: #5c8301;
    cursor: pointer;
    text-decoration: none;
}
#smallViewBtoTop {
    position: fixed;
    border-radius: 1em;
    display: block;
    bottom: 0.5em;
    right: 1.5em;
    border: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    background-color: #5c8301;
    padding: 0.5em 1em;
    cursor: pointer;
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}
#smallViewBtoTop:focus {
    outline:0;}

#smallViewBtoTop:hover {
    background-color: #03045e;
}
  

/* Services Main Section */
#servicesMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.servicesInfoContainer {
    background-color: aliceblue;
    width: 375px;
    padding: 2em;
    border-radius: 0.2em;
    color: #03045e;;
    margin: 2em;
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}
.servicesInfoContainer img {
    border-radius: 2%;
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}
.servicesInfoContainer li {
    padding: 0.38em 0;
    list-style: none; 
}
.servicesInfoContainer li:before {
    content: "\2022";
    color: #03045e;;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/**************Reservation Page***************/
#reservationBackground {
    background-image: url("../images/reservationBackground.jpg");
    background-color: #03045e;
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    max-width: 100%; 
  
}

/* Form Container */
.reservationFormWrapper {
    background: rgba(229, 249, 247, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px;
}
/* Form Content */
#upperUpper, #lowerUpper {
    display: flex;
}
#upperUpper > div, #lowerUpper > div {
    justify-content: space-evenly;
    
   
}
/* Form Inputs */
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.reservationForm input::placeholder {
    color: black;
}
.reservationForm .input-field .input, .reservationForm .message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #03045e;
    padding: 10px;
    
}
.reservationForm .subjArea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #03045e;
    padding: 5px;
    color: white;
}
.reservationForm .messageReservation {
    display: flex;
    margin: 1em;
}
.reservationForm .subjOpt {
    color: #03045e;
}

/**************Contact Page***************/
.containerContact{
    display: flex;
    width: 100%;
    background-color: #d1d5d8;
    margin-bottom: -5em;
    padding-bottom: 2em;
}

.containerContact {
    background-color: aliceblue;
}
#contactHeader {
    margin: 1.5em auto;
    text-align: center;
}
.formField{
    display: flex;
}
.formField .contact-form, .formField .bznssInfo{
    margin: 2em;
}
.contact-form{
    background: #03045e;;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
input::placeholder {
    color: aliceblue
}
.input-field{
    display: flex;
}
.input-field .input, .message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(92,131,1, 0.8);
    padding: 10px;
    color: rgba(209,213,216,0.7);
}
.subjArea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(92,131,1, 0.8);
    padding: 5px;
    color: rgba(209,213,216,0.7);
}
.message textarea{
    height: 100px;
    width: 100%;
}
.btn {
    background-color: aliceblue;
    max-width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #03045e;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-box-shadow: 2px 8px 16px 2px #03045e;
    -moz-box-shadow: 2px 8px 16px 2px #03045e;
    box-shadow: 2px 8px 16px 2px #03045e;
}
.btn:hover {
    background: rgba(92,131,1, 0.8);
    color: white;
    -webkit-box-shadow: 1px 4px 8px 1px #03045e;
    -moz-box-shadow: 1px 4px 8px 1px #03045e;
    box-shadow: 1px 4px 8px 1px #03045e;
}


@media screen and (max-width: 415px) {

    header {
        flex-flow: column;
        justify-content: space-around;
        margin-top: 8em;
        background-color: aliceblue;
        color: #03045e;
        height: 250px;
        align-items: center;
        -webkit-box-shadow: 2px 8px 16px 2px #03045e;
        -moz-box-shadow: 2px 8px 16px 2px #03045e;
        box-shadow: 2px 8px 16px 2px #03045e;
    }

    .headerRight {
        font-size: 2em;
        position: relative;
        margin-bottom: 70px;
        padding-bottom: 70px;
        text-align: center;
    }
    .stickIt {
        position: relative;
        top: 0;
        z-index: 5;
    }

/* Navigation */
    nav button {
        display: block;
        top: 190px;
    }

    .navigation {
        -webkit-box-shadow: 2px 8px 16px 2px #03045e;
        -moz-box-shadow: 2px 8px 16px 2px #03045e;
        box-shadow: 2px 8px 16px 2px #03045e;
    }

    nav ul {
        flex-flow: column;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
        margin: 0;    
    }

    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        border-top: 3px solid red;
        color: #0B0B0B;
    }

    nav ul li.active a {
        background-color: #5c8301;
        color: aliceblue;
        border-radius: 0 1em 1em 0; 
    }
    nav ul li a:hover {
        background-color: #5c8301;
        color: aliceblue;
    }
    nav ul li.active a:hover {
        background-color: #5c8301;
        color: aliceblue;
        border-radius: 0 1em 1em 0;
        box-shadow: none; 
    }

    nav ul.hide {
        display: none;
    }

    nav li a:hover {
        background-color: aliceblue;
        color: #03045e;;
        box-shadow: 2px 0 16px 2px #03045e;
    }

    nav li a:active {
        background-color: aliceblue;
        border-radius: 1em 1em 0 0;
        color: #03045e;
    }

    .bookNowBtn:hover{
        background-color: #5c8301;
        color: aliceblue;
    }
    /* Page Title */
    .pageTitle {
        font-size: 2em;
    }

/* Footer */
footer {
    max-width:100%;
}
.iconLinks img{
    max-width: 20px;
}
.footerBzInfo{
    align-content: center;
    align-items: center;
    padding: 0.2em;
}

#prefootMid { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
}

.iconLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#midfootMid a {  
    align-self: center;
    padding: 5px;
}

#map iframe {
    max-width: 370px;
    height: 200px;
}

/* Hero img and book now btn */
.heroContainer img {
    max-width: 100%;
    margin: 0;
    z-index: 0;
}
.heroContainer {
    width: 100%;
}
.heroContainer a {
    width: 100%;
    padding: 0.3em 0;
    font-size: 1.1em;
}
.heroContainer a:hover {
    background-color: #03045e;
    color: #0B0B0B;
}
.bookNowBtn {
    display: block;
    width: 100%;
}

#homeContent {
    width: 100%;
}

#mainWelcome {
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

/* Welcome description*/
#mainWelcome > div:nth-child(1) {
    padding: 0 1em;
}

#mainImgDiv {
    max-width: 100%;
    margin: 0 auto;
}

#mainImgDiv img{
    align-content: center;
}

.homeMain {
    flex-flow: column;
}

.homeMain {
    background-color: #5c8301;
}

#mainImgDiv picture {
    width: 100%;
}

/* temple info*/
.templeInfoContainer {
    flex-flow: column;
    max-width: 90%;
    margin: 2em 1em;
    padding: 1em;
    background-color: #03045e;
    color: aliceblue;
}

/* amenities info*/
.amenitiesHome {
    flex-flow: column;
    max-width: 90%;
    margin: 1em;
}

/**************Temple Page***************/
.templeTop {
    margin-top: 3em;
}

.templeBottom {
    margin-bottom: 3em;
}

/* Form Container */
.containerReservation {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#reservationTitle {
    width: 100%;
    align-self: center;
}

.containerReservation > div {
    justify-content: center;
    align-items: center;
}

.reservationFormWrapper {
    display: flex; 
    justify-content: center;
    align-self: center;
    max-width: 400px;
}

.reservationForm {
    margin: 1em;
    justify-content: center;
    align-content: center;
}

/* Form Content */
#reservationInputTop > div > div {
    margin: 1em;
}

#reservationInputTop {
    flex-flow: column;
    justify-content: space-evenly;
}

#upperUpper, #lowerUpper {
    flex-flow: column;
    justify-content: space-around;
}

#upperUpper > div, #lowerUpper > div {
    justify-content: space-evenly;
    margin-right: 0px;
}

#upperUpper > div label, #lowerUpper > div label {
    display: block;
}

.reservationForm .messageReservation {
    flex-flow: column;
    width: 85%;
}

.reservationForm .messageReservation textarea{
    height: 200px;
    width: 100%;
    margin: 10px 0;
    background: transparent;
    border: 3px solid #03045e;
    padding: 10px;
    color: white;
}

/**************Contact Page***************/
.containerContact{
    flex-direction: column;
}
.formField{
    flex-flow: column;
    justify-content: center;
}
.contact-form{
    max-width: 300px;
    padding: 10px;
}
.input-field{
    flex-direction: column;
    width: 100%;
}
.bznssInfo{
    flex-flow: row wrap;
    align-self: center;
}

}